/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono"; /* шрифт */
  --font-size: 18px; /* размер шрифта */
  --text-color: #f1b2ce; /* цвет текста темной темы*/
  --padding: 10px; /* отступы */
  --padding-tablet: 20px; /* отступ для width >= 768px) */
  --background-image: url(../images/cover-image-dark.png); /* фоновое изображение темно темы*/
  --background-color: #000028; /* фоновый цвет темной темы */
  --title-color: #db00ff; /* цвет заголовка h1 */
  --section-title-color: #ff0070; /* цвет заголовков h2 */
  --accent-color: #ff0070; /* цвет фона ссылок и заголовков h3 */
  --sub-title-color: #000028; /* цвет текста заголовков h3 */
  --hover-color: #ff0070; /* цвет при наведении на кнопки */
  --header-color: #ff0070; /* цвет в шапке */
  --shadow: #ff0070; /* цвет тени */
  --color-hover-dark: rgba(255, 0, 112, 0.5);
  --color-hover-light: rgba(50, 49, 45, 0.5); 
}
